@{
    ViewBag.Title = "AddPrenotazione";
}

<style>
    .form-group select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 15px;
        font-size: 16px;
    }

    .form-group label {
        font-weight: bold;
    }
</style>

@using (Html.BeginForm("AddPrenotazione", "Prenotazione", FormMethod.Post, new { @class = "m-3" }))
{
    @Html.AntiForgeryToken()

    <div class="mb-4">
        <h3>Inserisci nuova prenotazione:</h3>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="IdCliente">Cliente:</label>
                <select id="IdCliente" name="IdCliente" class="form-control">
                    <option value="">Seleziona un cliente</option>
                    @foreach (var cliente in ViewBag.Cliente)
                    {
                        <option value="@cliente.IdCliente">
                            @cliente.CodiceFiscale
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="DataPrenotazione">Data Prenotazione:</label>
                <input id="DataPrenotazione" name="DataPrenotazione" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Anno">Anno:</label>
                <input id="Anno" name="Anno" type="number" class="form-control" min="@DateTime.Now.Year" />
            </div>
            <div class="form-group">
                <label for="DataArrivo">Data Arrivo:</label>
                <input id="DataArrivo" name="DataArrivo" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label for="DataPartenza">Data Partenza:</label>
                <input id="DataPartenza" name="DataPartenza" type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="CaparraConfirmatoria">Caparra confirmatoria:</label>
                <input id="CaparraConfirmatoria" name="CaparraConfirmatoria" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label for="TariffaApplicata">Tariffa Applicata (Tassa):</label>
                <input id="TariffaApplicata" name="TariffaApplicata" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label for="IdCamera">Scegli la camera:</label>
                <select id="IdCamera" name="IdCamera" class="form-control">
                    @foreach (var item in ViewBag.Camera)
                    {
                        var prezzo = item.Prezzo.ToString("0.00");
                        <option value="@item.IdCamera" data-prezzo="@prezzo">
                            N° @item.NumeroCamera / @prezzo €
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="TipoSoggiorno">Tipo Soggiorno:</label>
                <select id="TipoSoggiorno" name="TipoSoggiorno" class="form-control">
                    <option value="Mezza Pensione">Mezza Pensione +50€</option>
                    <option value="Pensione Completa">Pensione Completa +100€</option>
                    <option value="Pernottamento Colazione">Pernottamento con prima colazione +150€</option>
                </select>
            </div>
            <div class="form-group">
                <label for="totaleDaPagare">Totale da Pagare:</label>
                <input id="totaleDaPagare" name="TotaleDaPagare" type="number" class="form-control" readonly />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div id="erroreClienteNonSelezionato" style="display: none; color: red;">
            Seleziona un cliente prima di inviare il modulo.
        </div>
        <button type="submit" class="btn btn-primary mt-3">Inserisci Prenotazione</button>
    </div>
    <p class="mt-3">@Html.ActionLink("Torna indietro", "Index", "Prenotazione")</p>
}

@section scripts{
    <script>
        $(function () {
            function calcolaTotale() {
                var tariffaApplicata = parseFloat($('#TariffaApplicata').val()) || 0;
                var prezzoCamera = parseFloat($('#IdCamera option:selected').data('prezzo')) || 0;
                var caparraConfirmatoria = parseFloat($('#CaparraConfirmatoria').val()) || 0;
                var tipoSoggiorno = $('#TipoSoggiorno').val();
                var dataArrivo = new Date($('#DataArrivo').val());
                var dataPartenza = new Date($('#DataPartenza').val());

                var differenzaGiorni = Math.ceil((dataPartenza - dataArrivo) / (1000 * 60 * 60 * 24));
                var prezzoSoggiorno = 0;

                switch (tipoSoggiorno) {
                    case 'Mezza Pensione':
                        prezzoSoggiorno = 50;
                        break;
                    case 'Pensione Completa':
                        prezzoSoggiorno = 100;
                        break;
                    case 'Pernottamento Colazione':
                        prezzoSoggiorno = 150;
                        break;
                    default:
                        prezzoSoggiorno = 0;
                        break;
                }

                var totaleDaPagare = (tariffaApplicata + prezzoCamera - caparraConfirmatoria + prezzoSoggiorno) * differenzaGiorni;

                $('#totaleDaPagare').val(totaleDaPagare);
            }

            $('#TariffaApplicata, #IdCamera, #CaparraConfirmatoria, #TipoSoggiorno, #DataArrivo, #DataPartenza').change(function () {
                calcolaTotale();
            });

            $('#TipoSoggiorno').change(function () {
                calcolaTotale();
            });
        });

        $(function () {
            $('form').submit(function (event) {
                var idCliente = $('select[name="IdCliente"]').val();
                if (idCliente === "") {
                    event.preventDefault();
                    $('#erroreClienteNonSelezionato').show();
                }
            });
        });
    </script>
}